<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sandbox.android.animation"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="ExoAnimationActivity"
                android:label="@string/app_name" />
        <activity
                android:name="FadeInActivity"
                android:label="@string/app_name" />
        <activity
                android:name="FadeOutActivity"
                android:label="@string/app_name" />
        <activity
                android:name="CrossfadeActivity"
                android:label="@string/app_name" />
        <activity
                android:name="BlinkActivity"
                android:label="@string/app_name" />
        <activity
                android:name="ZoomInActivity"
                android:label="@string/app_name" />
        <activity
                android:name="ZoomOutActivity"
                android:label="@string/app_name" />
        <activity
                android:name="RotateActivity"
                android:label="@string/app_name" />
        <activity
                android:name="MoveActivity"
                android:label="@string/app_name" />
        <activity
                android:name="SlideUpActivity"
                android:label="@string/app_name" />
        <activity
                android:name="SlideDownActivity"
                android:label="@string/app_name" />
        <activity
                android:name="BounceActivity"
                android:label="@string/app_name" />
        <activity
                android:name="SequentialActivity"
                android:label="@string/app_name" />
        <activity
                android:name="TogetherActivity"
                android:label="@string/app_name" />
        <activity
                android:name=".spirtes.ElaineAnimatedActivity"
                android:label="@string/app_name" />
    </application>
</manifest> 
